<section class="about-section" id="about">
    <div class="container-lg min-vh-100 py-5">
        <div class="row min-vh-100 align-items-center">
            <div class="col-md-6 mt-5 mt-md-0">
                <div class="about-img text-center position-relative">
                    <button type="button" class="position-absolute top-0 start-50 translate-middle btn-edit" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa-solid fa-pen"></i></button>
                    <img class="border border-dashed rounded-circle mw-100" src="/assets/img/profile-test.jpeg" alt="Foto Perfil">
              
                </div>
            </div>
          
            <div class="col-md-6 mt-5 mt-md-0 order-md-first">
                <div class="about-text">
                    <h1 class="about-title">¡Hola!</h1>
                    <h2 class="about-title"><span>Soy Edwin Perez</span></h2>
                    <p class="mt-4 lh-lg"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae debitis nulla similique tempore nisi, fuga omnis vero ex animi alias mollitia quae quo numquam repellat. Eum illum, molestias sunt aperiam asperiores deleniti consequatur porro. Laboriosam architecto commodi fugit corporis, ipsam repudiandae quibusdam quo iusto perferendis vitae officiis culpa magni nostrum itaque exercitationem corrupti veniam libero saepe odio tempore ullam veritatis porro! Tempora dignissimos consequatur perspiciatis provident, corrupti placeat, rerum magni, assumenda eveniet ut porro totam odit dolorum quam vitae velit. Consequatur consequuntur sunt praesentium alias et magni tenetur saepe eaque delectus ipsa voluptas voluptatum inventore, corporis laudantium ea doloribus. Impedit?</p>
                </div>
            </div>
        </div>
    </div>    
</section>