<div class="modal fade" tabindex="-1" id="about-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body m-0 p-0">
                <div class="container-fluid">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="row pb-5 justify-content-center text-center">
                        <div class="col-12 w-75">
                            <h1 class="modal-title">¡Edit! :)</h1>
                            <h2 class="modal-info">Completa/Edita los siguientes datos.</h2>
                        </div>
                    </div>

                    <form class="row gy-5 justify-content-center">
                        <div class="col-md-5">
                          <label for="inputNombre" class="form-label">Nombre y Apellido</label>
                          <input type="text" class="form-control" id="inputNombre">
                        </div>

                        <div class="col-md-5">
                            <label for="inputEtiqueta" class="form-label">Etiqueta</label>
                            <input type="text" class="form-control" id="inputEtiqueta">
                        </div>

                        <div class="col-10 mb-3">
                            <label for="formFile" class="form-label">Adjunta tu foto de Perfil</label>
                            <input class="form-control" type="file" id="formFile">
                        </div>

                        <div class="col-10 mb-3">
                            <label for="formFile" class="form-label">Adjunta tu foto de banner </label>
                            <input class="form-control" type="file" id="formFile">
                        </div>

                        <div class="col-md-5">
                            <label for="basic-url" class="form-label">GitHub</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon3">https://github.com/</span>
                                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                            </div>
                        </div>

                        <div class="col-md-5">
                            <label for="basic-url" class="form-label">Linkdn</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon3">www.linkedin.com/in/</span>
                                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                            </div>
                        </div>

                        <div class="col-md-5">
                            <label for="inputPhone" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="inputPhone">
                        </div>

                        <div class="col-md-5">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="text" class="form-control" id="inputEmail">
                        </div>
                        
                        <div class="col-10">
                            <label for="acerca-text-area">Bio</label>
                            <textarea class="form-control" id="acerca-text-area" placeholder="Agrega tu biografia." style="height: 100px" maxlength="1000"></textarea>  
                        </div>
                    </form>
            

                    <div class="row py-5 justify-content-center">
                        <div class="col-auto">
                            <button type="button" class="btn-login" data-bs-dismiss="modal">guardar</button> 
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn-login" data-bs-dismiss="modal">cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>