 <section class="banner-section" id="banner">
    <div class="containe-lg min-vh-100 d-flex flex-column align-items-center justify-content-center">
      <div class="border-main-text position-relative">

        <button type="button" class="position-absolute top-0 start-100 translate-middle btn-edit" data-bs-toggle="modal" data-bs-target="#about-modal"><i class="fa-solid fa-pen"></i></button>
        <app-modal-about></app-modal-about>

        <div class="row">
          <div class="col-xs-auto"><h1 class="name-text ">edwin perez</h1></div> 
        </div>
        <div class="row">
          <div class="col-xs-auto"><h2 class="name-text-2">Desarrollador Full Stack Junior</h2></div>
        </div>
      </div>
    </div>
    
    
  </section>
