<section class="skills-section" id="skills">
    <div class="container-lg py-5 min-vh-100">
        <div class="row align-items-center">
            <div class="col-auto p-0">
                <h1 class="section-title p-0 m-0">Skills</h1>
            </div>
            <div class="col-auto ms-auto p-0">
                <button type="button" class="btn-edit" data-bs-toggle="modal" data-bs-target="#about-modal"><i class="fa-solid fa-plus"></i></button>
                <button type="button" class="btn-edit" data-bs-toggle="modal" data-bs-target="#about-modal"><i class="fa-solid fa-minus"></i></button>
            </div>
        </div>
    </div>

</section>